<html>
	<head>
		<title>Nested Dom Elements</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body>
		<h1>Deepest nesting of UL or OL elements In The Dom</h1>
		<ul>
			<li>
				<ul>
					<ol>
						<li>
							<ul id='branch-end-4'>
							</ul>
						</li>
					</ol>
				</ul>
			</li>
		</ul>
		<div>
			<ul>
				<li>
					<ol>
						<li>
							<ul>
								<ul>
									<ul>
										<ol>
											<ul>
												<ol id='branch-end-8'>
												</ol>
											</ul>
										</ol>
									<ul>
										<ol>
											<li>
												<ol id='branch-end-7'>
												</ol>
											</li>
										</ol>
									</ul>
								</ul>
							</ul>
						</li>
					</ol>
				</li>
			</ul>
		</div>
		<button type='button' id='getCount'>Get Count</button>
		<p><a href='view-source:https://nested-elements.herokuapp.com/'>See DOM on Heroku</a></p>
		<p><a href='https://github.com/giamarinob/nested-elements'>Visit The Repo on Github</a></p>
		<script type='text/javascript' src='/js/nestingDepth.js'></script>
		<script type='text/javascript' src='/js/algorithm.js'></script>
	</body>
</html>