<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body>
		<ul>
			<li>
				<ul>
					<ol>
						<li>
							<ul>
							</ul>
						</li>
					</ol>
				</ul>
			</li>
		</ul>
		<div>
			<ul>
				<li>
					<ol>
						<li>
						</li>
					</ol>
				</li>
			</ul>
		</div>
		<button type='button' id='getCount'>Get Count</button>
		<a href='view-source:http://localhost:3000/'>See DOM</a>
		<script type='text/javascript' src='/js/nestingDepth.js'></script>
	</body>
</html>